In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('RA.xlsx')

In [3]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,DEPARTMENT OF MECHANICAL ENGINEERING,NaN,NaN,NaN,NaN
1,RESULT ANALYSIS YEAR 2017-2018,NaN,NaN,NaN,NaN
2,SEM VII (NOV 2017),NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,Total no. of students Appeared,NaN,148,NaN
5,NaN,No. of students Passed,NaN,124,NaN
6,NaN,No. of students Failed,NaN,24,NaN
7,NaN,% of Passing,NaN,83.7838,NaN
8,NaN,9 < Number of students with CGPA < 10.0,NaN,7,NaN
9,NaN,8 < Number of students with CGPA < 9.0,NaN,28,NaN
10,NaN,7 < Number of students with CGPA < 8.0,NaN,57,NaN
11,NaN,6 < Number of students with CGPA < 7.0,NaN,32,NaN
12,NaN,5 < Number of students with CGPA < 6.0,NaN,0,NaN
13,NaN,4 < Number of students with CGPA < 5.0,NaN,0,NaN
14,NaN,NaN,NaN,NaN,NaN
15,NaN,Toppers of the Class,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN
17,NaN,Sr. No.,Name of the Students,GPA,NaN
18,NaN,1),WAGHELA PRATIK HASMUKH,9.89,NaN
19,NaN,2),WAGH SHUBHAM SHIVAJI ALKA,9.7,NaN
20,NaN,3),BUDHWANT GANESH DATTA SUMAN,9.41,NaN
21,NaN,4),SABLE MITESH PRABHAKAR,9.11,NaN
22,NaN,5),MAHAJAN MAYURESH SHASHIKANT,9.07,NaN
23,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,Head of the Department,NaN,NaN